*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.flex_7{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col_7{
    flex-direction: column;
}
.span_7{
    color: #01ED65;
}
.heading_7{
    background-color: #34BA57;
   
    width: 100vw;
    text-align: center;

}
.heading_7 h1{
    font-weight: 750;
    padding: 3vw;
    font-size: 3vw;
    text-shadow: 0px 2px 1px rgb(94, 93, 93);
}
.choice_7{
    gap: 5vw;
    /* height: 60vw; */
    background: linear-gradient(to bottom,#DAEFE2,#D4EDDE,#7AC49D);
}
.section_7{
    width: 70%;
    background-color: white;
    border-radius: 5vw;
    padding:5vw 0vw;
    padding-bottom: 12vw;
    margin-bottom: 10vw;
}
.section_7 button{
    padding: 1vw 9vw;
    background-color: #01ED65;
    border-radius: 1.2vw;
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    outline: 0;
    border: 0;
    width: 100%;
}
.type{
    gap: 3vw;
    width: 60%;
}
.type h1{
    width: 100%;
    font-size: 2.5vw;
}