*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.flex_8{
  display: flex;
  align-items: center;
  justify-content: center;
}
.col_8{
  flex-direction: column;
}
.span_8{
  color: #01ED65;
}
.container_8{
  align-items: center;
  justify-content: center;
}
.contactme{
  gap: 10vw;
}
.form_8{
  background-color: #F7FAF9;
  gap: 1.4vw;
  width: 20%;
  padding-bottom: 2vw;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 2vw;
}
.form_8 p{
  font-size: 0.7vw;
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 80%;
}
.form_8 input{
  padding: 0.4vw;
  padding-right: 2vw;
  font-size: 1vw;
  color: #808080;
  border-radius: 0.5vw;
  border: 1px solid #BFBEBE;
  width: 80%;
}
.form_8 input[type="submit"]{
  padding: 0.2vw 0.5vw;
  width: 30%;
}
.content_8 h1{
  font-weight: 1000;
  font-size: 3vw;
}
input[type="submit"]{
  background-color: #00EC65;
  color: black;
  border-radius: 0.1vw;
  padding: 0.5vw 1vw;
  font-weight: 500;
  border: 1px solid #01694A;
}
.btnn{
  background-color: #00EC65;
  padding: 10px;
  border-radius: 10px;
}
