.lhiwxm7rvuy3bpa26-intersectsv-icon {
    position: relative;
    width: 411.02px;
    height: 1530px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lhiwxm7rvuy3bpa26-intersectsv {
    position: absolute;
    height: calc(100% + 54.24px);
    top: -27.12px;
    bottom: -27.12px;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0.02077464759349823px 0 0.02085132896900177px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .lhiwx1a4oe8tlu2pm-intersect-1-icon {
    top: -47px;
    left: -57px;
    position: relative;
    width: 1617.12px;
    height: 1625.79px;
    overflow: hidden;
    flex-shrink: 0; 
  }
  .lhiwx1a4oe8tlu2pm-intersect-1 {
    position: absolute;
    height: calc(100% + 55px);
    top: -27.5px;
    bottom: -27.5px;
    left: 328.35px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0.0043088654056191444px 0 0.0043581267818808556px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divpoc-hero-bg-h-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .divpoc-hero-section-bg {
    position: absolute;
    height: calc(100% + 0.2px);
    width: calc(100% + 0.57px);
    top: 0;
    right: -0.57px;
    bottom: -0.2px;
    left: 0;
  }
  .lfiafs8ixu1y9c4bb-vectorsvg-icon {
    position: relative;
    width: 28.09px;
    height: 26.09px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lfiafs8ixu1y9c4bb-vectorsvg {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-us {
    position: relative;
    line-height: 14px;
  }
  .divcontent {
    position: absolute;
    top: 24px;
    left: calc(50% - 37.59px);
    display: flex;
    flex-direction: column;
    padding: 0 0.1699981689453125px 0.39999961853027344px 0;
    align-items: center;
    justify-content: flex-start;
    gap: 3.6px;
  }
  .divcontactusflag {
    position: absolute;
    top: 12.44px;
    left: 1287px;
    border-radius: 16px 0 0 16px;
    background-color: #00684a;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
    width: 110px;
    height: 92px;
  }
  .divhero-abs-img-left-desktop {
    position: absolute;
    width: calc(100% + 0.57px);
    right: -2.57px;
    bottom: 362.4px;
    left: 2px;
    height: 345.2px;
  }
  .easy {
    color: #00ed64;
  }
  .college-admission-made-container {
    position: relative;
    line-height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 533px;
    flex-shrink: 0;
  }
  .ppoc-hero-title {
    position: absolute;
    top: 21.52px;
    left: 0;
    width: 1169px;
    display: flex;
    flex-direction: row;
    padding: 0 141px 0.20000004768371582px 0;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ppoc-hero-description {
    position: absolute;
    top: 406px;
    left: 0;
  }
  .a-platform-that-container {
    position: absolute;
    top: 316px;
    left: 2px;
    font-size: 19px;
    line-height: 32px;
    color: #3d4f58;
    text-align: justify;
    display: flex;
    align-items: center;
    width: 501px;
    font-family: Inter;
  }
  .link {
    width: 218px;
    position: absolute;
    top: 478px;
    left: 0;
    background-color:#0cd62d;
  }
  .divpoc-hero-text {
    position: absolute;
    top: calc(50% - 436.8px);
    left: 0;
    width: 681.6px;
    height: 727.6px;
  }
  .divpoc-hero-separator,
  .divpoc-hero-separator1 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #e7eeec;
    height: 1px;
  }
  .divpoc-hero-separator1 {
    top: 145px;
  }
  .divpoc-hero-blocks-child {
    position: absolute;
    top: 109px;
    left: 29px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 290px;
    height: 214px;
  }
  .students {
    color: #0cd62d;
  }
  .happy-students-txt-container {
    line-break: inherit;
    width: 100%;
  }
  .divpoc-hero-blocks,
  .happy-students {
    position: absolute;
    mix-blend-mode: normal;
  }
  .happy-students {
    top: -24px;
    left: 130px;
    line-height: 16px;
    display: flex;
    align-items: center;
    width: 508px;
    height: 144px;
  }
  .divpoc-hero-blocks {
    top: calc(50% + 172.2px);
    left: 0;
    width: 638.4px;
    height: 146px;
    font-size: 40px;
    color: #000;
  }
  .divpoc-hero-left-child {
    position: absolute;
    top: 711px;
    left: 347px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 312px;
    height: 221px;
  }
  .divpoc-hero-left,
  .img1-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 681.6px;
    height: 873.6px;
  }
  .img1-icon {
    top: 31px;
    left: 595.15px;
    width: 735.8px;
    height: auto;
    overflow: hidden;
  }
  .divpoc-hero-inner {
    position: absolute;
    top: 44px;
    left: 71px;
    width: 1431px;
    height: 893px;
    font-size: 77px;
    color: #001e2b;
    font-family: Poppins;
  }
  .divpoc-hero-section-child {
    position: absolute;
    top: 1046px;
    left: 831px;
    width: 483px;
    height: 363px;
    display: none;
  }
  .get-your-queries-container {
    position: relative;
    line-height: 65.02px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 546.6px;
    flex-shrink: 0;
  }
  .link1,
  .ph2d-6a82b601 {
    position: absolute;
    left: 0;
  }
  .ph2d-6a82b601 {
    top: -24px;
    width: 547px;
    height: 261px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 12.20001220703125px 0 0;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .link1 {
    width: calc(100% - 256px);
    top: 258px;
    right: 256px;
    background-color:#fff;
    color: #000;
  }
  .divbannercopy {
    position: relative;
    width: 612px;
    height: 331px;
  }
  .flex-container {
    position: absolute;
    top: 1057px;
    left: 276px;
    border-radius: 96px;
    width: 1108px;
    height: 383px;
    display: flex;
    flex-direction: row;
    padding: 55px 537.2000122070312px 55px 80px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url(/public/flexcontainer@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-size: 64.02px;
  }
  .divpoc-hero-section {
    top: 103px;
    left: 3.93px;
    background-color: #001e2b;
    width: 1535.63px;
    height: 1475.6px;
    cursor: default;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-family: Inter;
  }
  .divhero-abs-img-right-desktop {
    text-decoration: none;
    width: calc(100% - 1389.15px);
    right: -16.77px;
    bottom: 551.7px;
    left: 1405.92px;
    height: 172.6px;
  }
  .landing-page {
    position: relative;
    background-color: #fff;
    width: 1390px;
    height: 1470px;
    overflow: hidden;
    display: flex;
  }
/* Media Queries */
@media (max-width: 768px) {
  .landing-page {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-height: fit-content;
  }

  .divhero-abs-img-right-desktop {
    display: flex;

}

}
