/* ImageDisplay.css */
.image-container {
  background: url('../rocket.png') no-repeat center center/cover;
  height: 120vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container h1{
  font-size: 5rem;
}

.image-container h1 span{
  color: limegreen;
}

@media (max-width:430px){
  .image-container h1{
    font-size: 2rem;
  }
  .image-container{
    background: linear-gradient(to top, #97f797, transparent, #97f797);
  }
}