.centered-names {
  background-color: #031922;
  width: 100vw;
  color: #FFFFFF;
  padding: 2vw; 
  margin-bottom: 0vw; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-box {
  background-color: #031922;
  border: 0.5vw solid #ffffff; 
  border-radius: 15vw; 
  padding: 1vw; 
  margin: 3vw 0vw; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.heading {
  font-size: 4vw; 
  font-weight: bold;
  width: 100vw;
  text-align: center;
  color: #01ED65;
}

.label {
  margin-top: 3vw; 
}

.graphnames,
.devnames,
.contnames {
  font-size: 2vw;
  line-height: 1.5;
}

@media (max-width: 320px) {
  .centered-names {
    padding: 3vw;
    margin-bottom: 3vw;
  }

  .team-box {
    border: 0.5vw solid #01ED65;
    border-radius: 6vw; 
    padding: 2vw; 
    margin-bottom: 2vw; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .heading {
    font-size: 3vw; /* Adjust font size */
    margin-bottom: 1.5vw; /* Adjust margin */
  }

  .label {
    margin-top: 2vw; /* Adjust margin */
  }

  .graphnames,
  .devnames,
  .contnames {
    font-size: 1.5vw;
  }
}

.heading{
  margin:0px !important;
}