* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #001e2b;
    width: 100vw;
}

.container_ {
    gap: 1vw;
    border-top: solid 0.3vw #00BC4C;
    align-items: center;
}

.image_ {
    position: relative;
    top: 2rem;
}

.image_ img {
    max-width: fit-content;
    width: 15vw;
    /* height: 15vw; */
    padding-top: 1.5vw;
    /* height:100%;  */
}

.flex_ {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col_ {
    flex-direction: column;
}

.left-align_ {
    align-items: flex-start;
}

.spaced-between_ {
    justify-content: space-between;
}

.middle_ {
    gap: 0.7vw;
    width: 60vw;
}

.navbar_ {
    padding-top: 2rem;

    justify-content: center;
    width: 50vw;
    height: 100%;
    gap: 1vw;
    /* margin-left: -150px;  */
}

.navbar_ ul {
    gap: 1vw;
}

.navbar_ ul li {
    color: white;
    list-style-type: none;
    font-size: 1vw;
    font-weight: 500;
    font-family: sans-serif;
    opacity: 1;
}

.line_ {
    width: inherit;
}

.line_ hr {
    height: 0.3rem;
    background: #FFFFFF;
    border-radius: 3px;
    margin: 0px;
    opacity: 1;
}

.links_ {
    width: 20%;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    margin-right: 1vw;
}

.links_ p {
    font-size: 2vw;
    margin-bottom: 0px;
    font-weight: 700;
}

.links_ p:nth-child(2) {
    color: #00BC4C;
}

.links_ ul {
    font-size: 2vw;
    gap: 2vw;
}

.icon .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.icon .social-icons a {
    text-decoration: none;
}

.social-icons a{
    font-size: 1.5vw;
    color: white;
}

.contact-info {
    gap: 1vw;
    height: 7vh;
    padding: 2.5vw;
    font-size: .8rem;
    color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info img{
    width: 5vw;
}

@media (max-width:650px) {

    .line_ hr {
        border-radius: 0;
        height: 0;
    }

    .middle_ {
        padding-top: 4vw;
    }

    .navbar_ {
        gap: 0rem;
        padding: 0;
        padding-top: 2rem;
    }

    .middle_ ul li {
        font-size: 1.5vw;
    }
}

@media(max-width:500px) {
    .navbar_ {
        padding-top: 1vw;
        padding-bottom: 2vw;
        flex-direction: column;
        gap: 2vw;
        align-items: center;
        justify-content: flex-start;
    }

    .middle_ {
        display: flex;
        gap: 2vw;
    }

    .image_ img {
        /* max-width: fit-content; */
        width: 5vw;
        height: 5vw;
        /* padding-top:1.5vw;  */
        /* height:100%;  */
    }
}

.social-icons {
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

@media (max-width: 425px){
    .contact-info {
        font-size: .5rem;
    }
    .contact-info img{
        display: none;
    }
    
}