@media (max-width:650px){

    .line hr{
        border-radius:0;
        height:0;
    }    
    .middle{
        padding-top:4vw;  
    }
    .navbar{
        gap:0rem;
        padding: 0;
    }
    .middle ul li{
        font-size:1.5vw;  
    }

}
@media(max-width:500px){
    .navbar{
        flex-direction: column;
        gap:1vw;
    }
    .middle{
        gap:0vw;
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer{
    background-color: #071620;
    width:100vw;
}
.container{
    gap:1vw;
}
.image{
    width:20vw;
    height:100%;
}
img{
    max-width: fit-content;
    width:15vw;
    padding-top:2rem;
    height:100%;
}
.flex{
    display:flex;
    align-items:center;
    justify-content:center;
}
.col{
    flex-direction: column;
}
.left-align{
    align-items: flex-start;
}
.spaced-between{
    justify-content: space-between;
}
.middle{
    gap:1.5vw;
    width:60vw;
}
.navbar{
    padding-top: 2rem;
    padding-bottom:01;
    justify-content:center;
    width:50vw;
    height:100%;
    gap:4vw;

}
ul{
    gap:2vw;
}
li{
    color:white;
    list-style-type: none;
    font-size:1vw;
    font-weight:500;
    font-family:sans-serif;
    opacity: 0.8;
}
li:hover{
    opacity: 1;
}
.line{
    width:inherit;
}
hr{
    height:0.5rem;
    color:white;
    background-color: white;
    border-radius:3px;
}
.links{
    width:20%;
    box-sizing:border-box;
    font-family:sans-serif;
    gap:0vw;
    height:100%;
    color:white;
    margin-right: 1vw;
}

.links p{
    font-size:1vw;
    margin-bottom: 10px;
}
.links p:nth-child(2){
    color:#00BC4C;
}

.links ul{
    font-size:2vw;
    gap:2vw;
}

.icon .social-icons{    
    display: flex;
}
 .icon .social-icons a{
    text-decoration: none;
}
.social-icons a i{
    font-size: 1.5vw;
    color:white;
}

.contact-info{
    gap:1vw;
    height:5vh;
    padding:2vw;
    font-size:1vw;
    color:white;
    width:100vw;
}
