*{
    margin: 0;
    padding: 0;
}
.flex_3{
    display: flex;
    align-content: center;
    justify-content: center;
}
.col_3{
    flex-direction: column;
}
.kyc_team{
    background-color: #031922;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    position: relative;
}
.kyc_team .h_2{
    gap: 1.5vw;
    margin-top: 2.5vw;
    align-items: center;
    justify-content: center;
}
.kyc_team .h_2 h1{
    font-weight: 1000;
    color: white;
}
.span_2{
    color: #01ED65;
}
.box_2{
    width: 70vw;
    max-height: 24vw;
    border: 0.2vw solid white;
    border-radius: 4vw;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
}
.info_2{
    align-items: flex-start;
    justify-content: flex-end;
    gap: 0vw;
    width: 40vw;    
    /* max-height: 10vw; */
    color: white;
    padding-left: 8vw;
}
.info_2 h2{
    font-size: 3vw;
    margin: 0;
}
.info_2 h3{
    font-size: 2vw;
}
.info_2 p{
    font-size: 1.5vw;
}
.kyc_team .h_2 .h_1{
    font-weight: 100;
    color: white;
    font-size: 3vw;
}

.image_3{
    position: absolute;
    left: 9.2vw;
    top: 21vw;
}
.image_4{
    position: absolute;
    left: 9.2vw;
    top: 52vw;
    
}
.image_5{
    position: absolute;
    left: 9.2vw;
    top: 81vw;
}
.image_6{
    position: absolute;
    left: 9.2vw;
    top: 110.5vw;
}
.box_2 img{
    border-radius: 50%;

}
@media(max-width:1024px){
    .image_3{
        position: absolute;
        top: 16.7%;
        left: 8.8%;
    }
    .image_4{
        position: absolute;
        left: 8.8%;
        top: 38.5%;
        
    }
    .image_5{
        position: absolute;
        left: 8.8%;
        top: 60.7%;
    }
    .image_6{
        position: absolute;
        left: 8.8%;
        top: 82.7%;
    }
}
@media(max-width:768px){
    .image_3{
        position: absolute;
        left: 9.2%;
        top: 16%;
    }
    .image_4{
        position: absolute;
        left: 9.2%;
        top: 37.8%;
        
    }
    .image_5{
        position: absolute;
        left: 9.2%;
        top: 60.2%;
    }
}
@media(max-width:500px){
    .box_2 img{
        display: none;
    }
    .info_2{
        width: auto;
        height: auto;
    }
}
@media(max-width:400px){
    .kyc_team{
        gap: 5vw;
    }
    .box_2{
        height: 30vw;
        width: 80vw;
    }
    .kyc_team .h_2 h1{
        font-size: 4vw;
    }
}
