*{
    margin: 0;
    padding: 0;
}
.flex_3{
    display: flex;
}
.flex{
    width: 60vw;
}

.flex_3 img{
    width: 20rem;
}
.col_3{
    flex-direction: column;
}
.kyc_team{
    background-color: #031922;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}
.kyc_team .h_2{
    gap: 1.5vw;
    margin-top: 2.5vw;
    align-items: center;
    justify-content: center;
}
.kyc_team .h_2 h1{
    font-weight: 1000;
    color: white;
}
.span_2{
    color: #01ED65;
}
.box_2{
    /* width: 70vw; */
    /* height: 23vw; */
    border: 1px solid white;
    border-radius: 4vw;
    align-items: center;
    justify-content: center;
}
.info_2{
    padding: 3rem 5rem;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 0.4vw;
    width: 40vw;
    color: white;
    
}
.info_2 h1{
    font-size: 3rem;
}
.info_2 h2{
    font-size: 2rem;
    margin: 0;
}
.info_2 h3{
    font-size: 1.5rem;
}
.info_2 p{
    font-size: 1rem;
    color: #808080;
}
.kyc_team .h_2 .h_1{
    font-weight: 100;
    color: white;
    font-size: 3vw;
}

/* .image_3{
    position: absolute;
    left: 9.2vw;
    top: 15.5vw;
}
.image_4{
    position: absolute;
    left: 9.2vw;
    top: 45.5vw;
    
}
.image_5{
    position: absolute;
    left: 9.2vw;
    top: 75.5vw;
}
.image_6{
    position: absolute;
    left: 9.2vw;
    top: 105.5vw;
} */
img{
    border-radius: 50%;

}
@media(max-width:530px){
    .info_2{
        width: auto;
        height: auto;
    }
    img{
        display: none;
    }
}
@media(max-width:400px){
    .kyc_team{
        gap: 5vw;
    }
    .box_2{
        height: 30vw;
        width: 80vw;
    }
    .kyc_team .h_2 h1{
        font-size: 4vw;
    }
}