* {
    margin: 0;
    padding: 0;
}

.span_2 {
    color: #01ED65;
}

.title {
    text-align: center;
    padding: 3rem 0;
    color: white;
}

.title h1 {
    font-size: 3rem;
    font-weight: bold;
}

.title p {
    font-size: 4rem;
    font-weight: lighter;
}

.box {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.teamMembers {
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 3px solid white;
    padding: 1rem 2.5rem;
    border-radius: 40rem;
    width: 1200px;
    background-color: #031922;
}

.teamMembers img {
    width: 20rem;
    mix-blend-mode: screen;
}

.post {
    font-weight: bold;
    font-size: 3rem;
}

.info h3 {
    color: white;
}

.info p {
    font-size: 1rem;
    color: #808080;
}

@media (max-width:965px) {
    .title p {
        font-size: 2rem;
    }

    .teamMembers img {
        width: 15rem;
    }

    .info h1 {
        font-size: 2rem;
    }

    .post {
        font-size: 2.2rem !important;

    }

    .info h3 {
        font-size: 1.5rem;
    }

    .info p {
        font-size: 1rem;
    }
}

@media (max-width:770px) {
    .teamMembers {
        flex-direction: column;
        /* width: 40vw; */
        /* padding: 1rem; */
        text-align: center;
        border-radius: 50px;
    }
}

@media (max-width:470px) {
    .teamMembers {
        padding: 1rem;
    }

    .info h1 {
        font-size: 1rem;
    }

    .post {
        font-size: 1.2rem !important;

    }

    .info h3 {
        font-size: 1rem;
    }

    .info p {
        font-size: 1rem;
    }

    .teamMembers img {
        width: 10rem;
    }

}